<div>
    <mat-toolbar>
      <div style="background-color:#1D5C63;width: 100%;color: white;">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        Contact App
        <span></span>
        <span class="example-spacer"></span>
        <a mat-flat-button color="primary" style="background-color: #1D5C63;margin-left: 1200px;" (click)="logout()">
          <mat-icon>logout</mat-icon>Logout
        </a>
      </div>
    </mat-toolbar>
  </div>
  <mat-sidenav-container class="container-fluid" style="height: 90%">
    <mat-sidenav #sideNav mode="side" opened>
      <app-side-nav>
      </app-side-nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
<mat-card class="example-card" style="text-align: center;" style="width: 500px;margin-left: 350px;margin-top: 100px;">

    <!-- <div class="main-div"> -->
        <div class="div-log" style="background-color: #1D5C63;height: 50px;">
            <h1 style="color: white; text-align: center;">Add Contact</h1>
        </div><br>
        <!-- <div class="container-fluid"> -->
            <form [formGroup]="addContactForm" (ngSubmit)="onSubmit()">
                <mat-form-field>
                <label>
                <input matInput placeholder="First Name" class="form-control" formControlName="firstName"
                    [ngClass]="{'is-invalid':submit&&f.firstName.errors}" [(ngModel)]="data.firstName">
                <div *ngIf='submit&&f.firstName.errors' class="invalid-feedback">
                    <div *ngIf='f.firstName.errors.required'>First name is required</div>
                </div>
            </label>
                </mat-form-field><br>

               
                <label for="">Last Name:</label>
                <input type="text" placeholder="Last Name" class="form-control" formControlName="lastName"
                    [(ngModel)]="data.lastName">
              

                <label for="">Description:</label>
                <input type="text" placeholder="Password" class="form-control" formControlName="description"
                    [(ngModel)]="data.description">

                <label for="">Email:</label>
                <input type="email" placeholder="Email" class="form-control" formControlName="email"
                    [ngClass]="{'is-invalid':submit&&f.email.errors}" [(ngModel)]="data.email">
                <div *ngIf='submit&&f.email.errors' class="invalid-feedback">
                    <div *ngIf='f.email.errors.required'>Email is required</div>
                    <div *ngIf='f.email.errors.email'>Invalid email</div>
                </div>

                <label for="">Phone:</label>
                <input type="text" placeholder="Phone" class="form-control" formControlName="phone"
                    [ngClass]="{'is-invalid':submit&&f.phone.errors}" [(ngModel)]="data.phone">
                <div *ngIf='submit&&f.phone.errors' class="invalid-feedback">
                    <div *ngIf='f.phone.errors.required'>Phone number is required</div>
                    <div *ngIf='f.phone.errors.pattern'>Invalid Phone number</div>
                </div>

                <br><br>

                <button mat-flat-button style="background-color: #1D5C63;color: white;">Submit</button>
                <button mat-flat-button style="background-color: #1D5C63;color: white;margin-left: 300px;" (click)="close()">Cancel</button>
            </form>
        <!-- </div> -->
    <!-- </div> -->
</mat-card>