<!-- <div class="example-container mat-elevation-z8"> -->

  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <mat-card class="example-card" style="text-align: center;">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="div-log" style="background-color: #1D5C63;">
        <h1>Login</h1>
      </div><br>
      <mat-form-field class="example-full-width">
        <label>
          <input matInput placeholder="Username" formControlName="username" [errorStateMatcher]="matcher">
        </label>
        <!-- <mat-error>
            <span *ngIf="!loginForm.get('username').valid && loginForm.get('username')?.touched">Please enter Username</span>
          </mat-error> -->
      </mat-form-field><br><br>
      <mat-form-field class="example-full-width">
        <label>
          <input type="password" matInput placeholder="Password" formControlName="password"
            [errorStateMatcher]="matcher">
        </label>
        <!-- <mat-error>
            <span *ngIf="!loginForm.get('password').valid && loginForm.get('password')?.touched">Please enter Password</span>
          </mat-error> -->
      </mat-form-field>
      <div class="button-row">
        <button mat-raised-button type="submit" [disabled]="!loginForm.valid"
          style="background-color: #1D5C63;color: white;">
          <mat-icon>login</mat-icon>Login
        </button>
        <!-- </div>
        <div class="button-row"> -->
        <h4>Don't have an account?
      <!-- </div>
      <div class="button-row"> -->
        <a href="Register" [routerLink]="['/signup']">
          <!-- <mat-icon>how_to_reg</mat-icon> -->
          Register
        </a></h4>
      </div>
    </form>
  </mat-card>

<!-- </div> -->