.ul-div{
    display: flex;
    list-style: none;
}
dialogConfig.position  {
    top: 0;
    left: 0
}
.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }
  .logo-img{
    width: 10px;
  }
  .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }