
<div class="sidenav">
    <!-- <div class="logo">
        <a href="/" class="simple-text logo-mini">
            <div class="logo-img">
                <img src="./assets/images/contact.jpeg" alt="Logo">
            </div>
        </a>
        <a href="/" class="simple-text logo-normal">Contact App
        </a>
    </div> -->
    <ul class="nav">
        <li><a routerLink="/secure"><i class="material-icons">dashboard</i>Dashboard</a></li>
        <li ><a routerLink="/add-contact"><mat-icon>person_add</mat-icon>Add contact</a></li>
        <li ><a routerLink="/profile"><i class="fa fa-user"></i>Profile</a></li>
        <li ><a routerLink="/about"><i class="fa fa-question"></i>About</a></li>
        <li ><a routerLink="/settings"><i class="fa fa-cog"></i>Settings</a></li>
    </ul>
</div>
