<!--<nav class="navbar navbar-light bg-light">
  <div class="container">
      <div>CONTACT APP</div>
      <div> 
          <ul class="ul-div">
              <li [routerLink]="['/home']"><mat-icon>home</mat-icon></li>
              <li [routerLink]="['/about']">ABOUT</li>
              <li [routerLink]="['/login']">LOGIN/SIGNUP</li>
              <li [routerLink]="['/signup']">SIGNUP</li>
           </ul>
      </div>
  </div>
  </nav>
  
  <router-outlet></router-outlet>-->
  <!-- <mat-sidenav-container>
    <mat-sidenav #sideNav mode="side" opened>
       <app-side-nav >
      </app-side-nav> 
    </mat-sidenav>
    <mat-sidenav-content> 
     
    </mat-sidenav-content>
  </mat-sidenav-container> -->
  
  <router-outlet></router-outlet>
  